 header{
	 display: flex;
 }

 .menu{
	text-align:center;
	background-color: rgb(255, 0, 255);
display: flex;
justify-content: flex-end;
	text-decoration: none;
	padding: 10px;

}
.menu a{	text-decoration: none;
	padding: 20px;
	color: white;
	justify-content: flex-end;

	

}
.menu a:hover{	background-color: aqua;
	

}
@media screen and (max-width: 600px;) {
	.menu{
		flex-direction: column;
	}
	

